* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-color: #1a191f;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #1a191f;
}

.slider {
	max-width: 83%;
	margin: 5% auto;
	padding: 1% 8% 4%;
	background-color: #1a191f;
	border: 4px solid #fdb851;
	border-radius: 10px;
}

.slides-wrapper {
	width: 100%;
	max-height: 54.5rem;
	margin-bottom: 3rem;
	overflow: hidden;
	border-top: 1px dashed #fcc676;
	border-bottom: 1px dashed #fcc676;
	border-left: 2px solid #fcc676;
	border-right: 2px solid #fcc676;

}

input[name="radio"] {
	transform: scale(0);
}

.slides {
	display: flex;
	width: 800%;
	height: 100%;
}

.slide {
	width: 12.5%;
	transition: all 0.6s ease;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#radio1:checked~.slides-wrapper .slides .slide1 {
	margin-left: 0;
}

#radio2:checked~.slides-wrapper .slides .slide1 {
	margin-left: -12.5%;
}

#radio3:checked~.slides-wrapper .slides .slide1 {
	margin-left: -25%;
}

#radio4:checked~.slides-wrapper .slides .slide1 {
	margin-left: -37.5%;
}

#radio5:checked~.slides-wrapper .slides .slide1 {
	margin-left: -50%;
}

#radio6:checked~.slides-wrapper .slides .slide1 {
	margin-left: -62.5%;
}

#radio7:checked~.slides-wrapper .slides .slide1 {
	margin-left: -75%;
}

#radio8:checked~.slides-wrapper .slides .slide1 {
	margin-left: -87.5%;
}


.bottem-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navigation {
	display: flex;
	margin-left: 2rem;
}

.btn {
	width: 1.8rem;
	height: 2.2rem;
	padding: 0.6rem 0.4rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover .circle {
	transform: scale(1.4);
	box-shadow: 0 0 5px #fac372;
}

.circle {
	width: 1rem;
	height: 1rem;
	border: 2px solid #fdb851;
	background-color: #fdb851;
	border-radius: 50%;
	margin: 0 auto;
	transition: all 0.3s ease;
}

#radio1:checked~.bottem-content .navigation .circle1 {
	background-color: transparent;
}

#radio2:checked~.bottem-content .navigation .circle2 {
	background-color: transparent;
}

#radio3:checked~.bottem-content .navigation .circle3 {
	background-color: transparent;
}

#radio4:checked~.bottem-content .navigation .circle4 {
	background-color: transparent;
}

#radio5:checked~.bottem-content .navigation .circle5 {
	background-color: transparent;
}

#radio6:checked~.bottem-content .navigation .circle6 {
	background-color: transparent;
}

#radio7:checked~.bottem-content .navigation .circle7 {
	background-color: transparent;
}

#radio8:checked~.bottem-content .navigation .circle8 {
	background-color: transparent;
}

.slide-description__wrapper {
	width: 100%;
	min-height: 5rem;
	overflow: hidden;
}

.slide-description {
	display: flex;
	width: 800%;
	height: 100%;
}

.slide-text__wrapper {
	width: 12.5%;
	transition: all 0.6s ease;
}

.slide-text {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 2rem;
	margin: 0;
	padding: 0;
	color: #fdb851;
}

#radio1:checked~.bottem-content .slide-description__wrapper .slide-description .slide-text1 {
	margin-left: 0;
}

#radio2:checked~.bottem-content .slide-description__wrapper .slide-description .slide-text1 {
	margin-left: -12.5%;
}

#radio3:checked~.bottem-content .slide-description__wrapper .slide-description .slide-text1 {
	margin-left: -25%;
}

#radio4:checked~.bottem-content .slide-description__wrapper .slide-description .slide-text1 {
	margin-left: -37.5%;
}

#radio5:checked~.bottem-content .slide-description__wrapper .slide-description .slide-text1 {
	margin-left: -50%;
}

#radio6:checked~.bottem-content .slide-description__wrapper .slide-description .slide-text1 {
	margin-left: -62.5%;
}

#radio7:checked~.bottem-content .slide-description__wrapper .slide-description .slide-text1 {
	margin-left: -75%;
}

#radio8:checked~.bottem-content .slide-description__wrapper .slide-description .slide-text1 {
	margin-left: -87.5%;
}